__pycache__
.idea/
.vscode/
.DS_STORE
playground*.ipynb
playground*.py
/data/

logs/
tb_logs/
get_baostock_data.ipynb
get_baostock_data.py
/utils/
qlib_data/
symbol_config.json
all_2_0_20260512150510_rl_1/
all_2_0_20260512150541_rl_1/
alphagen.egg-info/
out/backtests/
out/gp/2/
out/results/all_20_0_20260512211522_rl/
out/tensorboard/all_20_0_20260512211522_rl_1/
